body {
  background-color: #959595;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.page-title {
  color: rgb(251, 223, 255);
  font-size: 6em;
  text-align: center;
  margin-top: 0.3em;
  &.no-animals-title {
    margin-top: 2em;
  }
}
